{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "baseUrl": "https://container.googleapis.com/",
  "schemas": {
    "UpdateNodePoolRequest": {
      "type": "object",
      "properties": {
        "clusterId": {
          "deprecated": true,
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "The current etag of the node pool. If an etag is provided and does not match the current etag of the node pool, update will be blocked and an ABORTED error will be returned."
        },
        "kubeletConfig": {
          "$ref": "NodeKubeletConfig",
          "description": "Node kubelet configs."
        },
        "zone": {
          "deprecated": true,
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "resourceManagerTags": {
          "description": "Desired resource manager tag keys and values to be attached to the nodes for managing Compute Engine firewalls using Network Firewall Policies. Existing tags will be replaced with new values.",
          "$ref": "ResourceManagerTags"
        },
        "labels": {
          "description": "The desired node labels to be applied to all nodes in the node pool. If this field is not present, the labels will not be changed. Otherwise, the existing node labels will be *replaced* with the provided labels.",
          "$ref": "NodeLabels"
        },
        "linuxNodeConfig": {
          "description": "Parameters that can be configured on Linux nodes.",
          "$ref": "LinuxNodeConfig"
        },
        "maxRunDuration": {
          "description": "The maximum duration for the nodes to exist. If unspecified, the nodes can exist indefinitely.",
          "type": "string",
          "format": "google-duration"
        },
        "name": {
          "description": "The name (project, location, cluster, node pool) of the node pool to update. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        },
        "diskSizeGb": {
          "type": "string",
          "description": "Optional. The desired disk size for nodes in the node pool specified in GB. The smallest allowed disk size is 10GB. Initiates an upgrade operation that migrates the nodes in the node pool to the specified disk size.",
          "format": "int64"
        },
        "queuedProvisioning": {
          "$ref": "QueuedProvisioning",
          "description": "Specifies the configuration of queued provisioning."
        },
        "fastSocket": {
          "$ref": "FastSocket",
          "description": "Enable or disable NCCL fast socket for the node pool."
        },
        "accelerators": {
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "description": "A list of hardware accelerators to be attached to each node. See https://cloud.google.com/compute/docs/gpus for more information about support for GPUs.",
          "type": "array"
        },
        "windowsNodeConfig": {
          "$ref": "WindowsNodeConfig",
          "description": "Parameters that can be configured on Windows nodes."
        },
        "machineType": {
          "type": "string",
          "description": "Optional. The desired [Google Compute Engine machine type](https://cloud.google.com/compute/docs/machine-types) for nodes in the node pool. Initiates an upgrade operation that migrates the nodes in the node pool to the specified machine type."
        },
        "upgradeSettings": {
          "$ref": "UpgradeSettings",
          "description": "Upgrade settings control disruption and speed of the upgrade."
        },
        "containerdConfig": {
          "$ref": "ContainerdConfig",
          "description": "The desired containerd config for nodes in the node pool. Initiates an upgrade operation that recreates the nodes with the new config."
        },
        "diskType": {
          "description": "Optional. The desired disk type (e.g. 'pd-standard', 'pd-ssd' or 'pd-balanced') for nodes in the node pool. Initiates an upgrade operation that migrates the nodes in the node pool to the specified disk type.",
          "type": "string"
        },
        "nodePoolId": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field."
        },
        "imageType": {
          "type": "string",
          "description": "Required. The desired image type for the node pool. Please see https://cloud.google.com/kubernetes-engine/docs/concepts/node-images for available image types."
        },
        "flexStart": {
          "description": "Flex Start flag for enabling Flex Start VM.",
          "type": "boolean"
        },
        "bootDisk": {
          "description": "The desired boot disk config for nodes in the node pool. Initiates an upgrade operation that migrates the nodes in the node pool to the specified boot disk config.",
          "$ref": "BootDisk"
        },
        "taints": {
          "description": "The desired node taints to be applied to all nodes in the node pool. If this field is not present, the taints will not be changed. Otherwise, the existing node taints will be *replaced* with the provided taints.",
          "$ref": "NodeTaints"
        },
        "nodeNetworkConfig": {
          "description": "Node network config.",
          "$ref": "NodeNetworkConfig"
        },
        "nodeVersion": {
          "description": "Required. The Kubernetes version to change the nodes to (typically an upgrade). Users may specify either explicit versions offered by Kubernetes Engine or version aliases, which have the following behavior: - \"latest\": picks the highest valid Kubernetes version - \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version - \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version - \"1.X.Y-gke.N\": picks an explicit Kubernetes version - \"-\": picks the Kubernetes master version",
          "type": "string"
        },
        "storagePools": {
          "items": {
            "type": "string"
          },
          "description": "List of Storage Pools where boot disks are provisioned. Existing Storage Pools will be replaced with storage-pools.",
          "type": "array"
        },
        "resourceLabels": {
          "description": "The resource labels for the node pool to use to annotate any related Google Compute Engine resources.",
          "$ref": "ResourceLabels"
        },
        "gcfsConfig": {
          "$ref": "GcfsConfig",
          "description": "GCFS config."
        },
        "gvnic": {
          "description": "Enable or disable gvnic on the node pool.",
          "$ref": "VirtualNIC"
        },
        "tags": {
          "description": "The desired network tags to be applied to all nodes in the node pool. If this field is not present, the tags will not be changed. Otherwise, the existing network tags will be *replaced* with the provided tags.",
          "$ref": "NetworkTags"
        },
        "locations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the node pool's nodes should be located. Changing the locations for a node pool will result in nodes being either created or removed from the node pool, depending on whether locations are being added or removed. Warning: It is recommended to update node pool locations in a standalone API call. Do not combine a location update with changes to other fields (such as `tags`, `labels`, `taints`, etc.) in the same request. Otherwise, the API performs a structural modification where changes to other fields will only apply to newly created nodes and will not be applied to existing nodes in the node pool. To ensure all nodes are updated consistently, use a separate API call for location changes."
        },
        "confidentialNodes": {
          "$ref": "ConfidentialNodes",
          "description": "Confidential nodes config. All the nodes in the node pool will be Confidential VM once enabled."
        },
        "loggingConfig": {
          "$ref": "NodePoolLoggingConfig",
          "description": "Logging configuration."
        },
        "workloadMetadataConfig": {
          "$ref": "WorkloadMetadataConfig",
          "description": "The desired workload metadata config for the node pool."
        }
      },
      "description": "UpdateNodePoolRequests update a node pool's image and/or version.",
      "id": "UpdateNodePoolRequest"
    },
    "ComplianceStandard": {
      "description": "Defines the details of a compliance standard.",
      "id": "ComplianceStandard",
      "properties": {
        "standard": {
          "type": "string",
          "description": "Name of the compliance standard."
        }
      },
      "type": "object"
    },
    "AutoUpgradeOptions": {
      "properties": {
        "description": {
          "type": "string",
          "description": "Output only. This field is set when upgrades are about to commence with the description of the upgrade.",
          "readOnly": true
        },
        "autoUpgradeStartTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. This field is set when upgrades are about to commence with the approximate start time for the upgrades, in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format."
        }
      },
      "type": "object",
      "id": "AutoUpgradeOptions",
      "description": "AutoUpgradeOptions defines the set of options for the user to control how the Auto Upgrades will proceed."
    },
    "AdditionalNodeNetworkConfig": {
      "type": "object",
      "id": "AdditionalNodeNetworkConfig",
      "description": "AdditionalNodeNetworkConfig is the configuration for additional node networks within the NodeNetworkConfig message",
      "properties": {
        "network": {
          "description": "Name of the VPC where the additional interface belongs",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Name of the subnetwork where the additional interface belongs"
        }
      }
    },
    "PrivateClusterMasterGlobalAccessConfig": {
      "id": "PrivateClusterMasterGlobalAccessConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whenever master is accessible globally or not."
        }
      },
      "description": "Configuration for controlling master global access settings.",
      "type": "object"
    },
    "NodePoolAutoConfig": {
      "description": "Node pool configs that apply to all auto-provisioned node pools in autopilot clusters and node auto-provisioning enabled clusters.",
      "type": "object",
      "id": "NodePoolAutoConfig",
      "properties": {
        "nodeKubeletConfig": {
          "$ref": "NodeKubeletConfig",
          "description": "NodeKubeletConfig controls the defaults for autoprovisioned node-pools. Currently only `insecure_kubelet_readonly_port_enabled` can be set here."
        },
        "networkTags": {
          "$ref": "NetworkTags",
          "description": "The list of instance tags applied to all nodes. Tags are used to identify valid sources or targets for network firewalls and are specified by the client during cluster creation. Each tag within the list must comply with RFC1035."
        },
        "resourceManagerTags": {
          "description": "Resource manager tag keys and values to be attached to the nodes for managing Compute Engine firewalls using Network Firewall Policies.",
          "$ref": "ResourceManagerTags"
        },
        "linuxNodeConfig": {
          "$ref": "LinuxNodeConfig",
          "description": "Output only. Configuration options for Linux nodes.",
          "readOnly": true
        }
      }
    },
    "SandboxConfig": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This should not be used.",
            "Run sandbox using gvisor."
          ],
          "enum": [
            "UNSPECIFIED",
            "GVISOR"
          ],
          "description": "Type of the sandbox to use for the node."
        }
      },
      "description": "SandboxConfig contains configurations of the sandbox to use for the node.",
      "id": "SandboxConfig"
    },
    "MaintenancePolicy": {
      "description": "MaintenancePolicy defines the maintenance policy to be used for the cluster.",
      "type": "object",
      "properties": {
        "window": {
          "description": "Specifies the maintenance window in which maintenance may be performed.",
          "$ref": "MaintenanceWindow"
        },
        "resourceVersion": {
          "description": "A hash identifying the version of this policy, so that updates to fields of the policy won't accidentally undo intermediate changes (and so that users of the API unaware of some fields won't accidentally remove other fields). Make a `get()` request to the cluster to get the current resource version and include it with requests to set the policy.",
          "type": "string"
        }
      },
      "id": "MaintenancePolicy"
    },
    "Fleet": {
      "properties": {
        "membershipType": {
          "description": "The type of the cluster's fleet membership.",
          "type": "string",
          "enumDescriptions": [
            "The MembershipType is not set.",
            "The membership supports only lightweight compatible features."
          ],
          "enum": [
            "MEMBERSHIP_TYPE_UNSPECIFIED",
            "LIGHTWEIGHT"
          ]
        },
        "preRegistered": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the cluster has been registered through the fleet API."
        },
        "membership": {
          "readOnly": true,
          "description": "Output only. The full resource name of the registered fleet membership of the cluster, in the format `//gkehub.googleapis.com/projects/*/locations/*/memberships/*`.",
          "type": "string"
        },
        "project": {
          "description": "The Fleet host project(project ID or project number) where this cluster will be registered to. This field cannot be changed after the cluster has been registered.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Fleet is the fleet configuration for the cluster.",
      "id": "Fleet"
    },
    "CompleteIPRotationRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster name) of the cluster to complete IP rotation. Specified in the format `projects/*/locations/*/clusters/*`."
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "projectId": {
          "deprecated": true,
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string"
        }
      },
      "description": "CompleteIPRotationRequest moves the cluster master back into single-IP mode.",
      "id": "CompleteIPRotationRequest"
    },
    "ClusterUpgradeInfo": {
      "type": "object",
      "description": "ClusterUpgradeInfo contains the upgrade information of a cluster.",
      "properties": {
        "minorTargetVersion": {
          "description": "minor_target_version indicates the target version for minor upgrade.",
          "type": "string"
        },
        "pausedReason": {
          "description": "The auto upgrade paused reason.",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "AUTO_UPGRADE_PAUSED_REASON_UNSPECIFIED",
              "MAINTENANCE_WINDOW",
              "MAINTENANCE_EXCLUSION_NO_UPGRADES",
              "MAINTENANCE_EXCLUSION_NO_MINOR_UPGRADES",
              "CLUSTER_DISRUPTION_BUDGET",
              "CLUSTER_DISRUPTION_BUDGET_MINOR_UPGRADE",
              "SYSTEM_CONFIG"
            ],
            "enumDescriptions": [
              "AUTO_UPGRADE_PAUSED_REASON_UNSPECIFIED indicates an unspecified reason.",
              "MAINTENANCE_WINDOW indicates the cluster is outside customer maintenance window.",
              "MAINTENANCE_EXCLUSION_NO_UPGRADES indicates the cluster is in a maintenance exclusion with scope NO_UPGRADES.",
              "MAINTENANCE_EXCLUSION_NO_MINOR_UPGRADES indicates the cluster is in a maintenance exclusion with scope NO_MINOR_UPGRADES.",
              "CLUSTER_DISRUPTION_BUDGET indicates the cluster is outside the cluster disruption budget.",
              "CLUSTER_DISRUPTION_BUDGET_MINOR_UPGRADE indicates the cluster is outside the cluster disruption budget for minor version upgrade.",
              "SYSTEM_CONFIG indicates the cluster upgrade is paused by system config."
            ]
          }
        },
        "endOfStandardSupportTimestamp": {
          "type": "string",
          "description": "The cluster's current minor version's end of standard support timestamp."
        },
        "patchTargetVersion": {
          "type": "string",
          "description": "patch_target_version indicates the target version for patch upgrade."
        },
        "endOfExtendedSupportTimestamp": {
          "description": "The cluster's current minor version's end of extended support timestamp.",
          "type": "string"
        },
        "upgradeDetails": {
          "items": {
            "$ref": "UpgradeDetails"
          },
          "description": "The list of past auto upgrades.",
          "type": "array"
        },
        "autoUpgradeStatus": {
          "description": "The auto upgrade status.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "UNKNOWN indicates an unknown status.",
              "ACTIVE indicates an active status.",
              "MINOR_UPGRADE_PAUSED indicates the minor version upgrade is paused.",
              "UPGRADE_PAUSED indicates the upgrade is paused."
            ],
            "type": "string",
            "enum": [
              "UNKNOWN",
              "ACTIVE",
              "MINOR_UPGRADE_PAUSED",
              "UPGRADE_PAUSED"
            ]
          }
        }
      },
      "id": "ClusterUpgradeInfo"
    },
    "AnonymousAuthenticationConfig": {
      "description": "AnonymousAuthenticationConfig defines the settings needed to limit endpoints that allow anonymous authentication.",
      "type": "object",
      "properties": {
        "mode": {
          "enumDescriptions": [
            "Default value not specified.",
            "Anonymous authentication is allowed for all endpoints.",
            "Anonymous authentication is allowed for only health check endpoints."
          ],
          "type": "string",
          "description": "Defines the mode of limiting anonymous access in the cluster.",
          "enum": [
            "MODE_UNSPECIFIED",
            "ENABLED",
            "LIMITED"
          ]
        }
      },
      "id": "AnonymousAuthenticationConfig"
    },
    "GetJSONWebKeysResponse": {
      "description": "GetJSONWebKeysResponse is a valid JSON Web Key Set as specified in rfc 7517",
      "properties": {
        "cacheHeader": {
          "$ref": "HttpCacheControlResponseHeader",
          "description": "For HTTP requests, this field is automatically extracted into the Cache-Control HTTP header."
        },
        "keys": {
          "type": "array",
          "description": "The public component of the keys used by the cluster to sign token requests.",
          "items": {
            "$ref": "Jwk"
          }
        }
      },
      "type": "object",
      "id": "GetJSONWebKeysResponse"
    },
    "AutoMonitoringConfig": {
      "id": "AutoMonitoringConfig",
      "type": "object",
      "description": "AutoMonitoringConfig defines the configuration for GKE Workload Auto-Monitoring.",
      "properties": {
        "scope": {
          "enumDescriptions": [
            "Not set.",
            "Auto-Monitoring is enabled for all supported applications.",
            "Disable Auto-Monitoring."
          ],
          "description": "Scope for GKE Workload Auto-Monitoring.",
          "enum": [
            "SCOPE_UNSPECIFIED",
            "ALL",
            "NONE"
          ],
          "type": "string"
        }
      }
    },
    "SetLocationsRequest": {
      "description": "SetLocationsRequest sets the locations of the cluster.",
      "type": "object",
      "id": "SetLocationsRequest",
      "properties": {
        "locations": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The desired list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the cluster's nodes should be located. Changing the locations a cluster is in will result in nodes being either created or removed from the cluster, depending on whether locations are being added or removed. This list must always include the cluster's primary zone."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "clusterId": {
          "deprecated": true,
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string"
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set locations. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        }
      }
    },
    "ShieldedNodes": {
      "description": "Configuration of Shielded Nodes feature.",
      "id": "ShieldedNodes",
      "properties": {
        "enabled": {
          "description": "Whether Shielded Nodes features are enabled on all nodes in this cluster.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "LegacyAbac": {
      "description": "Configuration for the legacy Attribute Based Access Control authorization mode.",
      "properties": {
        "enabled": {
          "description": "Whether the ABAC authorizer is enabled for this cluster. When enabled, identities in the system, including service accounts, nodes, and controllers, will have statically granted permissions beyond those provided by the RBAC configuration or IAM.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "LegacyAbac"
    },
    "AddonsConfig": {
      "properties": {
        "lustreCsiDriverConfig": {
          "$ref": "LustreCsiDriverConfig",
          "description": "Configuration for the Lustre CSI driver."
        },
        "statefulHaConfig": {
          "$ref": "StatefulHAConfig",
          "description": "Optional. Configuration for the StatefulHA add-on."
        },
        "gcePersistentDiskCsiDriverConfig": {
          "$ref": "GcePersistentDiskCsiDriverConfig",
          "description": "Configuration for the Compute Engine Persistent Disk CSI driver."
        },
        "gkeBackupAgentConfig": {
          "description": "Configuration for the Backup for GKE agent addon.",
          "$ref": "GkeBackupAgentConfig"
        },
        "gcpFilestoreCsiDriverConfig": {
          "description": "Configuration for the Filestore CSI driver.",
          "$ref": "GcpFilestoreCsiDriverConfig"
        },
        "rayOperatorConfig": {
          "description": "Optional. Configuration for Ray Operator addon.",
          "$ref": "RayOperatorConfig"
        },
        "httpLoadBalancing": {
          "$ref": "HttpLoadBalancing",
          "description": "Configuration for the HTTP (L7) load balancing controller addon, which makes it easy to set up HTTP load balancers for services in a cluster."
        },
        "highScaleCheckpointingConfig": {
          "$ref": "HighScaleCheckpointingConfig",
          "description": "Configuration for the High Scale Checkpointing add-on."
        },
        "parallelstoreCsiDriverConfig": {
          "description": "Configuration for the Cloud Storage Parallelstore CSI driver.",
          "$ref": "ParallelstoreCsiDriverConfig"
        },
        "dnsCacheConfig": {
          "description": "Configuration for NodeLocalDNS, a dns cache running on cluster nodes",
          "$ref": "DnsCacheConfig"
        },
        "horizontalPodAutoscaling": {
          "description": "Configuration for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods.",
          "$ref": "HorizontalPodAutoscaling"
        },
        "kubernetesDashboard": {
          "$ref": "KubernetesDashboard",
          "description": "Configuration for the Kubernetes Dashboard. This addon is deprecated, and will be disabled in 1.15. It is recommended to use the Cloud Console to manage and monitor your Kubernetes clusters, workloads and applications. For more information, see: https://cloud.google.com/kubernetes-engine/docs/concepts/dashboards",
          "deprecated": true
        },
        "gcsFuseCsiDriverConfig": {
          "$ref": "GcsFuseCsiDriverConfig",
          "description": "Configuration for the Cloud Storage Fuse CSI driver."
        },
        "cloudRunConfig": {
          "$ref": "CloudRunConfig",
          "description": "Configuration for the Cloud Run addon, which allows the user to use a managed Knative service."
        },
        "networkPolicyConfig": {
          "$ref": "NetworkPolicyConfig",
          "description": "Configuration for NetworkPolicy. This only tracks whether the addon is enabled or not on the Master, it does not track whether network policy is enabled for the nodes."
        },
        "configConnectorConfig": {
          "description": "Configuration for the ConfigConnector add-on, a Kubernetes extension to manage hosted Google Cloud services through the Kubernetes API.",
          "$ref": "ConfigConnectorConfig"
        }
      },
      "id": "AddonsConfig",
      "type": "object",
      "description": "Configuration for the addons that can be automatically spun up in the cluster, enabling additional functionality."
    },
    "IPAllocationPolicy": {
      "id": "IPAllocationPolicy",
      "description": "Configuration for controlling how IPs are allocated in the cluster.",
      "type": "object",
      "properties": {
        "servicesIpv4Cidr": {
          "type": "string",
          "description": "This field is deprecated, use services_ipv4_cidr_block.",
          "deprecated": true
        },
        "podCidrOverprovisionConfig": {
          "$ref": "PodCIDROverprovisionConfig",
          "description": "[PRIVATE FIELD] Pod CIDR size overprovisioning config for the cluster. Pod CIDR size per node depends on max_pods_per_node. By default, the value of max_pods_per_node is doubled and then rounded off to next power of 2 to get the size of pod CIDR block per node. Example: max_pods_per_node of 30 would result in 64 IPs (/26). This config can disable the doubling of IPs (we still round off to next power of 2) Example: max_pods_per_node of 30 will result in 32 IPs (/27) when overprovisioning is disabled."
        },
        "tpuIpv4CidrBlock": {
          "description": "The IP address range of the Cloud TPUs in this cluster. If unspecified, a range will be automatically chosen with the default size. This field is only applicable when `use_ip_aliases` is true. If unspecified, the range will use the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use. This field is deprecated due to the deprecation of 2VM TPU. The end of life date for 2VM TPU is 2025-04-25.",
          "deprecated": true,
          "type": "string"
        },
        "subnetIpv6CidrBlock": {
          "description": "Output only. The subnet's IPv6 CIDR block used by nodes and pods.",
          "readOnly": true,
          "type": "string"
        },
        "clusterSecondaryRangeName": {
          "type": "string",
          "description": "The name of the secondary range to be used for the cluster CIDR block. The secondary range will be used for pod IP addresses. This must be an existing secondary range associated with the cluster subnetwork. This field is only applicable with use_ip_aliases is true and create_subnetwork is false."
        },
        "nodeIpv4Cidr": {
          "deprecated": true,
          "type": "string",
          "description": "This field is deprecated, use node_ipv4_cidr_block."
        },
        "servicesIpv4CidrBlock": {
          "description": "The IP address range of the services IPs in this cluster. If blank, a range will be automatically chosen with the default size. This field is only applicable when `use_ip_aliases` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use.",
          "type": "string"
        },
        "servicesSecondaryRangeName": {
          "description": "The name of the secondary range to be used as for the services CIDR block. The secondary range will be used for service ClusterIPs. This must be an existing secondary range associated with the cluster subnetwork. This field is only applicable with use_ip_aliases is true and create_subnetwork is false.",
          "type": "string"
        },
        "defaultPodIpv4RangeUtilization": {
          "description": "Output only. The utilization of the cluster default IPv4 range for the pod. The ratio is Usage/[Total number of IPs in the secondary range], Usage=numNodes*numZones*podIPsPerNode.",
          "type": "number",
          "format": "double",
          "readOnly": true
        },
        "createSubnetwork": {
          "type": "boolean",
          "description": "Whether a new subnetwork will be created automatically for the cluster. This field is only applicable when `use_ip_aliases` is true."
        },
        "clusterIpv4Cidr": {
          "type": "string",
          "description": "This field is deprecated, use cluster_ipv4_cidr_block.",
          "deprecated": true
        },
        "ipv6AccessType": {
          "type": "string",
          "enum": [
            "IPV6_ACCESS_TYPE_UNSPECIFIED",
            "INTERNAL",
            "EXTERNAL"
          ],
          "enumDescriptions": [
            "Default value, will be defaulted as type external.",
            "Access type internal (all v6 addresses are internal IPs)",
            "Access type external (all v6 addresses are external IPs)"
          ],
          "description": "The ipv6 access type (internal or external) when create_subnetwork is true"
        },
        "additionalPodRangesConfig": {
          "description": "Output only. The additional pod ranges that are added to the cluster. These pod ranges can be used by new node pools to allocate pod IPs automatically. Once the range is removed it will not show up in IPAllocationPolicy.",
          "readOnly": true,
          "$ref": "AdditionalPodRangesConfig"
        },
        "useIpAliases": {
          "type": "boolean",
          "description": "Whether alias IPs will be used for pod IPs in the cluster. This is used in conjunction with use_routes. It cannot be true if use_routes is true. If both use_ip_aliases and use_routes are false, then the server picks the default IP allocation mode"
        },
        "servicesIpv6CidrBlock": {
          "description": "Output only. The services IPv6 CIDR block for the cluster.",
          "type": "string",
          "readOnly": true
        },
        "additionalIpRangesConfigs": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The additional IP ranges that are added to the cluster. These IP ranges can be used by new node pools to allocate node and pod IPs automatically. Each AdditionalIPRangesConfig corresponds to a single subnetwork. Once a range is removed it will not show up in IPAllocationPolicy.",
          "items": {
            "$ref": "AdditionalIPRangesConfig"
          }
        },
        "clusterIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range for the cluster pod IPs. If this field is set, then `cluster.cluster_ipv4_cidr` must be left blank. This field is only applicable when `use_ip_aliases` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "networkTierConfig": {
          "description": "Cluster-level network tier configuration is used to determine the default network tier for external IP addresses on cluster resources, such as node pools and load balancers.",
          "$ref": "NetworkTierConfig"
        },
        "useRoutes": {
          "type": "boolean",
          "description": "Whether routes will be used for pod IPs in the cluster. This is used in conjunction with use_ip_aliases. It cannot be true if use_ip_aliases is true. If both use_ip_aliases and use_routes are false, then the server picks the default IP allocation mode"
        },
        "autoIpamConfig": {
          "$ref": "AutoIpamConfig",
          "description": "Optional. AutoIpamConfig contains all information related to Auto IPAM"
        },
        "nodeIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range of the instance IPs in this cluster. This is applicable only if `create_subnetwork` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g. `10.0.0.0/8`, `172.16.0.0/12`, `192.168.0.0/16`) to pick a specific range to use."
        },
        "stackType": {
          "description": "The IP stack type of the cluster",
          "type": "string",
          "enumDescriptions": [
            "Default value, will be defaulted as IPV4 only",
            "Cluster is IPV4 only",
            "Cluster can use both IPv4 and IPv6"
          ],
          "enum": [
            "STACK_TYPE_UNSPECIFIED",
            "IPV4",
            "IPV4_IPV6"
          ]
        },
        "subnetworkName": {
          "description": "A custom subnetwork name to be used if `create_subnetwork` is true. If this field is empty, then an automatic name will be chosen for the new subnetwork.",
          "type": "string"
        }
      }
    },
    "RecurringTimeWindow": {
      "properties": {
        "window": {
          "description": "The window of the first recurrence.",
          "$ref": "TimeWindow"
        },
        "recurrence": {
          "description": "An RRULE (https://tools.ietf.org/html/rfc5545#section-3.8.5.3) for how this window reccurs. They go on for the span of time between the start and end time. For example, to have something repeat every weekday, you'd use: `FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR` To repeat some window daily (equivalent to the DailyMaintenanceWindow): `FREQ=DAILY` For the first weekend of every month: `FREQ=MONTHLY;BYSETPOS=1;BYDAY=SA,SU` This specifies how frequently the window starts. Eg, if you wanted to have a 9-5 UTC-4 window every weekday, you'd use something like: ``` start time = 2019-01-01T09:00:00-0400 end time = 2019-01-01T17:00:00-0400 recurrence = FREQ=WEEKLY;BYDAY=MO,TU,WE,TH,FR ``` Windows can span multiple days. Eg, to make the window encompass every weekend from midnight Saturday till the last minute of Sunday UTC: ``` start time = 2019-01-05T00:00:00Z end time = 2019-01-07T23:59:00Z recurrence = FREQ=WEEKLY;BYDAY=SA ``` Note the start and end time's specific dates are largely arbitrary except to specify duration of the window and when it first starts. The FREQ values of HOURLY, MINUTELY, and SECONDLY are not supported.",
          "type": "string"
        }
      },
      "id": "RecurringTimeWindow",
      "type": "object",
      "description": "Represents an arbitrary window of time that recurs."
    },
    "RegistryHeader": {
      "type": "object",
      "id": "RegistryHeader",
      "description": "RegistryHeader configures headers for the registry.",
      "properties": {
        "key": {
          "description": "Key configures the header key.",
          "type": "string"
        },
        "value": {
          "type": "array",
          "description": "Value configures the header value.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SecretManagerConfig": {
      "description": "SecretManagerConfig is config for secret manager enablement.",
      "id": "SecretManagerConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Enable/Disable Secret Manager Config."
        },
        "rotationConfig": {
          "$ref": "RotationConfig",
          "description": "Rotation config for secret manager."
        }
      }
    },
    "GkeAutoUpgradeConfig": {
      "type": "object",
      "description": "GkeAutoUpgradeConfig is the configuration for GKE auto upgrades.",
      "id": "GkeAutoUpgradeConfig",
      "properties": {
        "patchMode": {
          "type": "string",
          "enum": [
            "PATCH_MODE_UNSPECIFIED",
            "ACCELERATED"
          ],
          "description": "PatchMode specifies how auto upgrade patch builds should be selected.",
          "enumDescriptions": [
            "PATCH_MODE_UNSPECIFIED defaults to using the upgrade target from the channel's patch upgrade targets as the upgrade target for the version.",
            "ACCELERATED denotes that the latest patch build in the channel should be used as the upgrade target for the version."
          ]
        }
      }
    },
    "LustreCsiDriverConfig": {
      "id": "LustreCsiDriverConfig",
      "description": "Configuration for the Lustre CSI driver.",
      "type": "object",
      "properties": {
        "enableLegacyLustrePort": {
          "deprecated": true,
          "description": "If set to true, the Lustre CSI driver will install Lustre kernel modules using port 6988. This serves as a workaround for a port conflict with the gke-metadata-server. This field is required ONLY under the following conditions: 1. The GKE node version is older than 1.33.2-gke.4655000. 2. You're connecting to a Lustre instance that has the 'gke-support-enabled' flag. Deprecated: This flag is no longer required as of GKE node version 1.33.2-gke.4655000, unless you are connecting to a Lustre instance that has the `gke-support-enabled` flag.",
          "type": "boolean"
        },
        "enabled": {
          "description": "Whether the Lustre CSI driver is enabled for this cluster.",
          "type": "boolean"
        }
      }
    },
    "NodePool": {
      "description": "NodePool contains the name and configuration for a cluster's node pool. Node pools are a set of nodes (i.e. VM's), with a common configuration and specification, under the control of the cluster master. They may have a set of Kubernetes labels applied to them, which may be used to reference them during pod scheduling. They may also be resized up or down, to accommodate the workload.",
      "properties": {
        "conditions": {
          "items": {
            "$ref": "StatusCondition"
          },
          "type": "array",
          "description": "Which conditions caused the current node pool state."
        },
        "etag": {
          "description": "This checksum is computed by the server based on the value of node pool fields, and may be sent on update requests to ensure the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "maxPodsConstraint": {
          "description": "The constraint on the maximum number of pods that can be run simultaneously on a node in the node pool.",
          "$ref": "MaxPodsConstraint"
        },
        "placementPolicy": {
          "$ref": "PlacementPolicy",
          "description": "Specifies the node placement policy."
        },
        "networkConfig": {
          "$ref": "NodeNetworkConfig",
          "description": "Networking configuration for this NodePool. If specified, it overrides the cluster-level defaults."
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "PROVISIONING",
            "RUNNING",
            "RUNNING_WITH_ERROR",
            "RECONCILING",
            "STOPPING",
            "ERROR"
          ],
          "enumDescriptions": [
            "Not set.",
            "The PROVISIONING state indicates the node pool is being created.",
            "The RUNNING state indicates the node pool has been created and is fully usable.",
            "The RUNNING_WITH_ERROR state indicates the node pool has been created and is partially usable. Some error state has occurred and some functionality may be impaired. Customer may need to reissue a request or trigger a new update.",
            "The RECONCILING state indicates that some work is actively being done on the node pool, such as upgrading node software. Details can be found in the `statusMessage` field.",
            "The STOPPING state indicates the node pool is being deleted.",
            "The ERROR state indicates the node pool may be unusable. Details can be found in the `statusMessage` field."
          ],
          "type": "string",
          "description": "Output only. The status of the nodes in this pool instance.",
          "readOnly": true
        },
        "version": {
          "description": "The version of Kubernetes running on this NodePool's nodes. If unspecified, it defaults as described [here](https://cloud.google.com/kubernetes-engine/versioning#specifying_node_version).",
          "type": "string"
        },
        "podIpv4CidrSize": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The pod CIDR block size per node in this node pool."
        },
        "config": {
          "description": "The node configuration of the pool.",
          "$ref": "NodeConfig"
        },
        "statusMessage": {
          "readOnly": true,
          "deprecated": true,
          "type": "string",
          "description": "Output only. Deprecated. Use conditions instead. Additional information about the current status of this node pool instance, if available."
        },
        "instanceGroupUrls": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. The resource URLs of the [managed instance groups](https://cloud.google.com/compute/docs/instance-groups/creating-groups-of-managed-instances) associated with this node pool. During the node pool blue-green upgrade operation, the URLs contain both blue and green resources."
        },
        "name": {
          "description": "The name of the node pool.",
          "type": "string"
        },
        "updateInfo": {
          "$ref": "UpdateInfo",
          "description": "Output only. Update info contains relevant information during a node pool update.",
          "readOnly": true
        },
        "management": {
          "$ref": "NodeManagement",
          "description": "NodeManagement configuration for this NodePool."
        },
        "autoscaling": {
          "$ref": "NodePoolAutoscaling",
          "description": "Autoscaler configuration for this NodePool. Autoscaler is enabled only if a valid configuration is present."
        },
        "locations": {
          "description": "The list of Google Compute Engine [zones](https://cloud.google.com/compute/docs/zones#available) in which the NodePool's nodes should be located. If this value is unspecified during node pool creation, the [Cluster.Locations](https://cloud.google.com/kubernetes-engine/docs/reference/rest/v1/projects.locations.clusters#Cluster.FIELDS.locations) value will be used, instead. Warning: changing node pool locations will result in nodes being added and/or removed.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "initialNodeCount": {
          "format": "int32",
          "description": "The initial node count for the pool. You must ensure that your Compute Engine [resource quota](https://cloud.google.com/compute/quotas) is sufficient for this number of instances. You must also have available firewall and routes quota.",
          "type": "integer"
        },
        "autopilotConfig": {
          "$ref": "AutopilotConfig",
          "description": "Specifies the autopilot configuration for this node pool. This field is exclusively reserved for Cluster Autoscaler."
        },
        "selfLink": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Server-defined URL for the resource."
        },
        "queuedProvisioning": {
          "$ref": "QueuedProvisioning",
          "description": "Specifies the configuration of queued provisioning."
        },
        "bestEffortProvisioning": {
          "$ref": "BestEffortProvisioning",
          "description": "Enable best effort provisioning for nodes"
        },
        "upgradeSettings": {
          "$ref": "UpgradeSettings",
          "description": "Upgrade settings control disruption and speed of the upgrade."
        }
      },
      "type": "object",
      "id": "NodePool"
    },
    "VirtualNIC": {
      "properties": {
        "enabled": {
          "description": "Whether gVNIC features are enabled in the node pool.",
          "type": "boolean"
        }
      },
      "type": "object",
      "description": "Configuration of gVNIC feature.",
      "id": "VirtualNIC"
    },
    "NetworkPolicyConfig": {
      "type": "object",
      "description": "Configuration for NetworkPolicy. This only tracks whether the addon is enabled or not on the Master, it does not track whether network policy is enabled for the nodes.",
      "id": "NetworkPolicyConfig",
      "properties": {
        "disabled": {
          "description": "Whether NetworkPolicy is enabled for this cluster.",
          "type": "boolean"
        }
      }
    },
    "ShieldedInstanceConfig": {
      "type": "object",
      "description": "A set of Shielded Instance options.",
      "id": "ShieldedInstanceConfig",
      "properties": {
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. Secure Boot helps ensure that the system only runs authentic software by verifying the digital signature of all boot components, and halting the boot process if signature verification fails.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "description": "Defines whether the instance has integrity monitoring enabled. Enables monitoring and attestation of the boot integrity of the instance. The attestation is performed against the integrity policy baseline. This baseline is initially derived from the implicitly trusted boot image when the instance is created.",
          "type": "boolean"
        }
      }
    },
    "WritableCgroups": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Optional. Whether writable cgroups is enabled.",
          "type": "boolean"
        }
      },
      "id": "WritableCgroups",
      "description": "Defines writable cgroups configuration."
    },
    "StandardRolloutPolicy": {
      "description": "Standard rollout policy is the default policy for blue-green.",
      "type": "object",
      "id": "StandardRolloutPolicy",
      "properties": {
        "batchSoakDuration": {
          "type": "string",
          "description": "Soak time after each batch gets drained. Default to zero.",
          "format": "google-duration"
        },
        "batchPercentage": {
          "format": "float",
          "type": "number",
          "description": "Percentage of the blue pool nodes to drain in a batch. The range of this field should be (0.0, 1.0]."
        },
        "batchNodeCount": {
          "format": "int32",
          "description": "Number of blue nodes to drain in a batch.",
          "type": "integer"
        }
      }
    },
    "MonitoringComponentConfig": {
      "id": "MonitoringComponentConfig",
      "properties": {
        "enableComponents": {
          "items": {
            "enumDescriptions": [
              "Default value. This shouldn't be used.",
              "system components",
              "kube-apiserver",
              "kube-scheduler",
              "kube-controller-manager",
              "Storage",
              "Horizontal Pod Autoscaling",
              "Pod",
              "DaemonSet",
              "Deployment",
              "Statefulset",
              "CADVISOR",
              "KUBELET",
              "NVIDIA Data Center GPU Manager (DCGM)",
              "JobSet"
            ],
            "enum": [
              "COMPONENT_UNSPECIFIED",
              "SYSTEM_COMPONENTS",
              "APISERVER",
              "SCHEDULER",
              "CONTROLLER_MANAGER",
              "STORAGE",
              "HPA",
              "POD",
              "DAEMONSET",
              "DEPLOYMENT",
              "STATEFULSET",
              "CADVISOR",
              "KUBELET",
              "DCGM",
              "JOBSET"
            ],
            "type": "string"
          },
          "description": "Select components to collect metrics. An empty set would disable all monitoring.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "MonitoringComponentConfig is cluster monitoring component configuration."
    },
    "SecondaryBootDiskUpdateStrategy": {
      "description": "SecondaryBootDiskUpdateStrategy is a placeholder which will be extended in the future to define different options for updating secondary boot disks.",
      "id": "SecondaryBootDiskUpdateStrategy",
      "type": "object",
      "properties": {}
    },
    "BinaryAuthorization": {
      "type": "object",
      "id": "BinaryAuthorization",
      "properties": {
        "evaluationMode": {
          "type": "string",
          "description": "Mode of operation for binauthz policy evaluation. If unspecified, defaults to DISABLED.",
          "enum": [
            "EVALUATION_MODE_UNSPECIFIED",
            "DISABLED",
            "PROJECT_SINGLETON_POLICY_ENFORCE"
          ],
          "enumDescriptions": [
            "Default value",
            "Disable BinaryAuthorization",
            "Enforce Kubernetes admission requests with BinaryAuthorization using the project's singleton policy. This is equivalent to setting the enabled boolean to true."
          ]
        },
        "enabled": {
          "deprecated": true,
          "type": "boolean",
          "description": "This field is deprecated. Leave this unset and instead configure BinaryAuthorization using evaluation_mode. If evaluation_mode is set to anything other than EVALUATION_MODE_UNSPECIFIED, this field is ignored."
        }
      },
      "description": "Configuration for Binary Authorization."
    },
    "NodeNetworkConfig": {
      "type": "object",
      "id": "NodeNetworkConfig",
      "description": "Parameters for node pool-level network config.",
      "properties": {
        "additionalPodNetworkConfigs": {
          "description": "We specify the additional pod networks for this node pool using this list. Each pod network corresponds to an additional alias IP range for the node",
          "type": "array",
          "items": {
            "$ref": "AdditionalPodNetworkConfig"
          }
        },
        "createPodRange": {
          "type": "boolean",
          "description": "Input only. Whether to create a new range for pod IPs in this node pool. Defaults are provided for `pod_range` and `pod_ipv4_cidr_block` if they are not specified. If neither `create_pod_range` or `pod_range` are specified, the cluster-level default (`ip_allocation_policy.cluster_ipv4_cidr_block`) is used. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created."
        },
        "podCidrOverprovisionConfig": {
          "description": "[PRIVATE FIELD] Pod CIDR size overprovisioning config for the nodepool. Pod CIDR size per node depends on max_pods_per_node. By default, the value of max_pods_per_node is rounded off to next power of 2 and we then double that to get the size of pod CIDR block per node. Example: max_pods_per_node of 30 would result in 64 IPs (/26). This config can disable the doubling of IPs (we still round off to next power of 2) Example: max_pods_per_node of 30 will result in 32 IPs (/27) when overprovisioning is disabled.",
          "$ref": "PodCIDROverprovisionConfig"
        },
        "podRange": {
          "type": "string",
          "description": "The ID of the secondary range for pod IPs. If `create_pod_range` is true, this ID is used for the new range. If `create_pod_range` is false, uses an existing secondary range with this ID. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created."
        },
        "networkPerformanceConfig": {
          "description": "Network bandwidth tier configuration.",
          "$ref": "NetworkPerformanceConfig"
        },
        "subnetwork": {
          "description": "Output only. The subnetwork path for the node pool. Format: projects/{project}/regions/{region}/subnetworks/{subnetwork} If the cluster is associated with multiple subnetworks, the subnetwork for the node pool is picked based on the IP utilization during node pool creation and is immutable.",
          "readOnly": true,
          "type": "string"
        },
        "podIpv4CidrBlock": {
          "type": "string",
          "description": "The IP address range for pod IPs in this node pool. Only applicable if `create_pod_range` is true. Set to blank to have a range chosen with the default size. Set to /netmask (e.g. `/14`) to have a range chosen with a specific netmask. Set to a [CIDR](https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing) notation (e.g. `10.96.0.0/14`) to pick a specific range to use. Only applicable if `ip_allocation_policy.use_ip_aliases` is true. This field cannot be changed after the node pool has been created."
        },
        "additionalNodeNetworkConfigs": {
          "items": {
            "$ref": "AdditionalNodeNetworkConfig"
          },
          "description": "We specify the additional node networks for this node pool using this list. Each node network corresponds to an additional interface",
          "type": "array"
        },
        "enablePrivateNodes": {
          "type": "boolean",
          "description": "Whether nodes have internal IP addresses only. If enable_private_nodes is not specified, then the value is derived from Cluster.NetworkConfig.default_enable_private_nodes"
        },
        "networkTierConfig": {
          "$ref": "NetworkTierConfig",
          "readOnly": true,
          "description": "Output only. The network tier configuration for the node pool inherits from the cluster-level configuration and remains immutable throughout the node pool's lifecycle, including during upgrades."
        },
        "podIpv4RangeUtilization": {
          "readOnly": true,
          "type": "number",
          "description": "Output only. The utilization of the IPv4 range for the pod. The ratio is Usage/[Total number of IPs in the secondary range], Usage=numNodes*numZones*podIPsPerNode.",
          "format": "double"
        }
      }
    },
    "ReservationAffinity": {
      "description": "[ReservationAffinity](https://cloud.google.com/compute/docs/instances/reserving-zonal-resources) is the configuration of desired reservation which instances could take capacity from.",
      "type": "object",
      "id": "ReservationAffinity",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Corresponds to the label value(s) of reservation resource(s)."
        },
        "consumeReservationType": {
          "enumDescriptions": [
            "Default value. This should not be used.",
            "Do not consume from any reserved capacity.",
            "Consume any reservation available.",
            "Must consume from a specific reservation. Must specify key value fields for specifying the reservations."
          ],
          "description": "Corresponds to the type of reservation consumption.",
          "enum": [
            "UNSPECIFIED",
            "NO_RESERVATION",
            "ANY_RESERVATION",
            "SPECIFIC_RESERVATION"
          ],
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Corresponds to the label key of a reservation resource. To target a SPECIFIC_RESERVATION by name, specify \"compute.googleapis.com/reservation-name\" as the key and specify the name of your reservation as its value."
        }
      }
    },
    "BigQueryDestination": {
      "properties": {
        "datasetId": {
          "type": "string",
          "description": "The ID of a BigQuery Dataset."
        }
      },
      "id": "BigQueryDestination",
      "type": "object",
      "description": "Parameters for using BigQuery as the destination of resource usage export."
    },
    "DNSConfig": {
      "id": "DNSConfig",
      "properties": {
        "clusterDnsDomain": {
          "description": "cluster_dns_domain is the suffix used for all cluster service records.",
          "type": "string"
        },
        "additiveVpcScopeDnsDomain": {
          "type": "string",
          "description": "Optional. The domain used in Additive VPC scope."
        },
        "clusterDns": {
          "type": "string",
          "enum": [
            "PROVIDER_UNSPECIFIED",
            "PLATFORM_DEFAULT",
            "CLOUD_DNS",
            "KUBE_DNS"
          ],
          "enumDescriptions": [
            "Default value",
            "Use GKE default DNS provider(kube-dns) for DNS resolution.",
            "Use CloudDNS for DNS resolution.",
            "Use KubeDNS for DNS resolution."
          ],
          "description": "cluster_dns indicates which in-cluster DNS provider should be used."
        },
        "clusterDnsScope": {
          "enumDescriptions": [
            "Default value, will be inferred as cluster scope.",
            "DNS records are accessible from within the cluster.",
            "DNS records are accessible from within the VPC."
          ],
          "type": "string",
          "description": "cluster_dns_scope indicates the scope of access to cluster DNS records.",
          "enum": [
            "DNS_SCOPE_UNSPECIFIED",
            "CLUSTER_SCOPE",
            "VPC_SCOPE"
          ]
        }
      },
      "description": "DNSConfig contains the desired set of options for configuring clusterDNS.",
      "type": "object"
    },
    "PubSub": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Enable notifications for Pub/Sub.",
          "type": "boolean"
        },
        "topic": {
          "type": "string",
          "description": "The desired Pub/Sub topic to which notifications will be sent by GKE. Format is `projects/{project}/topics/{topic}`."
        },
        "filter": {
          "$ref": "Filter",
          "description": "Allows filtering to one or more specific event types. If no filter is specified, or if a filter is specified with no event types, all event types will be sent"
        }
      },
      "id": "PubSub",
      "description": "Pub/Sub specific notification config."
    },
    "PodAutoscaling": {
      "type": "object",
      "id": "PodAutoscaling",
      "properties": {
        "hpaProfile": {
          "description": "Selected Horizontal Pod Autoscaling profile.",
          "type": "string",
          "enum": [
            "HPA_PROFILE_UNSPECIFIED",
            "NONE",
            "PERFORMANCE"
          ],
          "enumDescriptions": [
            "HPA_PROFILE_UNSPECIFIED is used when no custom HPA profile is set.",
            "Customers explicitly opt-out of HPA profiles.",
            "PERFORMANCE is used when customers opt-in to the performance HPA profile. In this profile we support a higher number of HPAs per cluster and faster metrics collection for workload autoscaling."
          ]
        }
      },
      "description": "PodAutoscaling is used for configuration of parameters for workload autoscaling."
    },
    "ListClustersResponse": {
      "description": "ListClustersResponse is the result of ListClustersRequest.",
      "properties": {
        "clusters": {
          "items": {
            "$ref": "Cluster"
          },
          "description": "A list of clusters in the project in the specified zone, or across all ones.",
          "type": "array"
        },
        "missingZones": {
          "description": "If any zones are listed here, the list of clusters returned may be missing those zones.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListClustersResponse",
      "type": "object"
    },
    "SetNodePoolAutoscalingRequest": {
      "description": "SetNodePoolAutoscalingRequest sets the autoscaler settings of a node pool.",
      "properties": {
        "zone": {
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "nodePoolId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The name of the node pool to upgrade. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "type": "string",
          "description": "The name (project, location, cluster, node pool) of the node pool to set autoscaler settings. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`."
        },
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "autoscaling": {
          "description": "Required. Autoscaling configuration for the node pool.",
          "$ref": "NodePoolAutoscaling"
        }
      },
      "id": "SetNodePoolAutoscalingRequest",
      "type": "object"
    },
    "GcfsConfig": {
      "id": "GcfsConfig",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether to use GCFS."
        }
      },
      "description": "GcfsConfig contains configurations of Google Container File System (image streaming).",
      "type": "object"
    },
    "RayClusterLoggingConfig": {
      "description": "RayClusterLoggingConfig specifies configuration of Ray logging.",
      "properties": {
        "enabled": {
          "description": "Enable log collection for Ray clusters.",
          "type": "boolean"
        }
      },
      "id": "RayClusterLoggingConfig",
      "type": "object"
    },
    "QueuedProvisioning": {
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Denotes that this nodepool is QRM specific, meaning nodes can be only obtained through queuing via the Cluster Autoscaler ProvisioningRequest API.",
          "type": "boolean"
        }
      },
      "description": "QueuedProvisioning defines the queued provisioning used by the node pool.",
      "id": "QueuedProvisioning"
    },
    "SetMasterAuthRequest": {
      "id": "SetMasterAuthRequest",
      "description": "SetMasterAuthRequest updates the admin password of a cluster.",
      "properties": {
        "projectId": {
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true,
          "type": "string"
        },
        "update": {
          "$ref": "MasterAuth",
          "description": "Required. A description of the update."
        },
        "clusterId": {
          "description": "Deprecated. The name of the cluster to upgrade. This field has been deprecated and replaced by the name field.",
          "type": "string",
          "deprecated": true
        },
        "name": {
          "description": "The name (project, location, cluster) of the cluster to set auth. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field."
        },
        "action": {
          "type": "string",
          "description": "Required. The exact form of action to be taken on the master auth.",
          "enumDescriptions": [
            "Operation is unknown and will error out.",
            "Set the password to a user generated value.",
            "Generate a new password and set it to that.",
            "Set the username. If an empty username is provided, basic authentication is disabled for the cluster. If a non-empty username is provided, basic authentication is enabled, with either a provided password or a generated one."
          ],
          "enum": [
            "UNKNOWN",
            "SET_PASSWORD",
            "GENERATE_PASSWORD",
            "SET_USERNAME"
          ]
        }
      },
      "type": "object"
    },
    "NodePoolLoggingConfig": {
      "description": "NodePoolLoggingConfig specifies logging configuration for nodepools.",
      "properties": {
        "variantConfig": {
          "$ref": "LoggingVariantConfig",
          "description": "Logging variant configuration."
        }
      },
      "id": "NodePoolLoggingConfig",
      "type": "object"
    },
    "NetworkTierConfig": {
      "description": "NetworkTierConfig contains network tier information.",
      "type": "object",
      "id": "NetworkTierConfig",
      "properties": {
        "networkTier": {
          "enumDescriptions": [
            "By default, use project-level configuration. When unspecified, the behavior defaults to NETWORK_TIER_DEFAULT. For cluster updates, this implies no action (no-op).",
            "Default network tier. Use project-level configuration. User can specify this value, meaning they want to keep the same behaviour as before cluster level network tier configuration is introduced. This field ensures backward compatibility for the network tier of cluster resources, such as node pools and load balancers, for their external IP addresses.",
            "Premium network tier.",
            "Standard network tier."
          ],
          "description": "Network tier configuration.",
          "type": "string",
          "enum": [
            "NETWORK_TIER_UNSPECIFIED",
            "NETWORK_TIER_DEFAULT",
            "NETWORK_TIER_PREMIUM",
            "NETWORK_TIER_STANDARD"
          ]
        }
      }
    },
    "TimeWindow": {
      "id": "TimeWindow",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The time that the window first starts.",
          "type": "string",
          "format": "google-datetime"
        },
        "maintenanceExclusionOptions": {
          "$ref": "MaintenanceExclusionOptions",
          "description": "MaintenanceExclusionOptions provides maintenance exclusion related options."
        },
        "endTime": {
          "description": "The time that the window ends. The end time should take place after the start time.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Represents an arbitrary window of time."
    },
    "ContainerdConfig": {
      "type": "object",
      "properties": {
        "privateRegistryAccessConfig": {
          "description": "PrivateRegistryAccessConfig is used to configure access configuration for private container registries.",
          "$ref": "PrivateRegistryAccessConfig"
        },
        "writableCgroups": {
          "description": "Optional. WritableCgroups defines writable cgroups configuration for the node pool.",
          "$ref": "WritableCgroups"
        },
        "registryHosts": {
          "items": {
            "$ref": "RegistryHostConfig"
          },
          "description": "RegistryHostConfig configures containerd registry host configuration. Each registry_hosts represents a hosts.toml file. At most 25 registry_hosts are allowed.",
          "type": "array"
        }
      },
      "id": "ContainerdConfig",
      "description": "ContainerdConfig contains configuration to customize containerd."
    },
    "NodePoolDefaults": {
      "description": "Subset of Nodepool message that has defaults.",
      "type": "object",
      "properties": {
        "nodeConfigDefaults": {
          "description": "Subset of NodeConfig message that has defaults.",
          "$ref": "NodeConfigDefaults"
        }
      },
      "id": "NodePoolDefaults"
    },
    "IPEndpointsConfig": {
      "description": "IP endpoints configuration.",
      "type": "object",
      "id": "IPEndpointsConfig",
      "properties": {
        "globalAccess": {
          "type": "boolean",
          "description": "Controls whether the control plane's private endpoint is accessible from sources in other regions. It is invalid to specify both PrivateClusterMasterGlobalAccessConfig.enabled and this field at the same time."
        },
        "privateEndpointSubnetwork": {
          "type": "string",
          "description": "Subnet to provision the master's private endpoint during cluster creation. Specified in projects/*/regions/*/subnetworks/* format. It is invalid to specify both PrivateClusterConfig.privateEndpointSubnetwork and this field at the same time."
        },
        "authorizedNetworksConfig": {
          "$ref": "MasterAuthorizedNetworksConfig",
          "description": "Configuration of authorized networks. If enabled, restricts access to the control plane based on source IP. It is invalid to specify both Cluster.masterAuthorizedNetworksConfig and this field at the same time."
        },
        "publicEndpoint": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The external IP address of this cluster's control plane. Only populated if enabled."
        },
        "enabled": {
          "description": "Controls whether to allow direct IP access.",
          "type": "boolean"
        },
        "enablePublicEndpoint": {
          "type": "boolean",
          "description": "Controls whether the control plane allows access through a public IP. It is invalid to specify both PrivateClusterConfig.enablePrivateEndpoint and this field at the same time."
        },
        "privateEndpoint": {
          "description": "Output only. The internal IP address of this cluster's control plane. Only populated if enabled.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "WorkloadIdentityConfig": {
      "type": "object",
      "id": "WorkloadIdentityConfig",
      "description": "Configuration for the use of Kubernetes Service Accounts in IAM policies.",
      "properties": {
        "workloadPool": {
          "type": "string",
          "description": "The workload pool to attach all Kubernetes service accounts to."
        }
      }
    },
    "OperationProgress": {
      "type": "object",
      "properties": {
        "stages": {
          "type": "array",
          "description": "Substages of an operation or a stage.",
          "items": {
            "$ref": "OperationProgress"
          }
        },
        "name": {
          "description": "A non-parameterized string describing an operation stage. Unset for single-stage operations.",
          "type": "string"
        },
        "status": {
          "enum": [
            "STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE",
            "ABORTING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not set.",
            "The operation has been created.",
            "The operation is currently running.",
            "The operation is done, either cancelled or completed.",
            "The operation is aborting."
          ],
          "description": "Status of an operation stage. Unset for single-stage operations."
        },
        "metrics": {
          "items": {
            "$ref": "Metric"
          },
          "description": "Progress metric bundle, for example: metrics: [{name: \"nodes done\", int_value: 15}, {name: \"nodes total\", int_value: 32}] or metrics: [{name: \"progress\", double_value: 0.56}, {name: \"progress scale\", double_value: 1.0}]",
          "type": "array"
        }
      },
      "id": "OperationProgress",
      "description": "Information about operation (or operation stage) progress."
    },
    "NodeKubeletConfig": {
      "description": "Node kubelet configs.",
      "id": "NodeKubeletConfig",
      "type": "object",
      "properties": {
        "imageGcLowThresholdPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Defines the percent of disk usage before which image garbage collection is never run. Lowest disk usage to garbage collect to. The percent is calculated as this field value out of 100. The value must be between 10 and 85, inclusive and smaller than image_gc_high_threshold_percent. The default value is 80 if unspecified."
        },
        "containerLogMaxSize": {
          "description": "Optional. Defines the maximum size of the container log file before it is rotated. See https://kubernetes.io/docs/concepts/cluster-administration/logging/#log-rotation Valid format is positive number + unit, e.g. 100Ki, 10Mi. Valid units are Ki, Mi, Gi. The value must be between 10Mi and 500Mi, inclusive. Note that the total container log size (container_log_max_size * container_log_max_files) cannot exceed 1% of the total storage of the node, to avoid disk pressure caused by log files. The default value is 10Mi if unspecified.",
          "type": "string"
        },
        "cpuCfsQuotaPeriod": {
          "description": "Set the CPU CFS quota period value 'cpu.cfs_period_us'. The string must be a sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300ms\". Valid time units are \"ns\", \"us\" (or \"µs\"), \"ms\", \"s\", \"m\", \"h\". The value must be a positive duration between 1ms and 1 second, inclusive.",
          "type": "string"
        },
        "containerLogMaxFiles": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Defines the maximum number of container log files that can be present for a container. See https://kubernetes.io/docs/concepts/cluster-administration/logging/#log-rotation The value must be an integer between 2 and 10, inclusive. The default value is 5 if unspecified."
        },
        "insecureKubeletReadonlyPortEnabled": {
          "description": "Enable or disable Kubelet read only port.",
          "type": "boolean"
        },
        "topologyManager": {
          "$ref": "TopologyManager",
          "description": "Optional. Controls Topology Manager configuration on the node. For more information, see: https://kubernetes.io/docs/tasks/administer-cluster/topology-manager/"
        },
        "evictionMaxPodGracePeriodSeconds": {
          "type": "integer",
          "description": "Optional. eviction_max_pod_grace_period_seconds is the maximum allowed grace period (in seconds) to use when terminating pods in response to a soft eviction threshold being met. This value effectively caps the Pod's terminationGracePeriodSeconds value during soft evictions. Default: 0. Range: [0, 300].",
          "format": "int32"
        },
        "maxParallelImagePulls": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Defines the maximum number of image pulls in parallel. The range is 2 to 5, inclusive. The default value is 2 or 3 depending on the disk type. See https://kubernetes.io/docs/concepts/containers/images/#maximum-parallel-image-pulls for more details."
        },
        "evictionMinimumReclaim": {
          "description": "Optional. eviction_minimum_reclaim is a map of signal names to quantities that defines minimum reclaims, which describe the minimum amount of a given resource the kubelet will reclaim when performing a pod eviction while that resource is under pressure.",
          "$ref": "EvictionMinimumReclaim"
        },
        "allowedUnsafeSysctls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Defines a comma-separated allowlist of unsafe sysctls or sysctl patterns (ending in `*`). The unsafe namespaced sysctl groups are `kernel.shm*`, `kernel.msg*`, `kernel.sem`, `fs.mqueue.*`, and `net.*`. Leaving this allowlist empty means they cannot be set on Pods. To allow certain sysctls or sysctl patterns to be set on Pods, list them separated by commas. For example: `kernel.msg*,net.ipv4.route.min_pmtu`. See https://kubernetes.io/docs/tasks/administer-cluster/sysctl-cluster/ for more details."
        },
        "evictionSoftGracePeriod": {
          "$ref": "EvictionGracePeriod",
          "description": "Optional. eviction_soft_grace_period is a map of signal names to quantities that defines grace periods for each soft eviction signal. The grace period is the amount of time that a pod must be under pressure before an eviction occurs."
        },
        "podPidsLimit": {
          "format": "int64",
          "type": "string",
          "description": "Set the Pod PID limits. See https://kubernetes.io/docs/concepts/policy/pid-limiting/#pod-pid-limits Controls the maximum number of processes allowed to run in a pod. The value must be greater than or equal to 1024 and less than 4194304."
        },
        "imageMaximumGcAge": {
          "type": "string",
          "description": "Optional. Defines the maximum age an image can be unused before it is garbage collected. The string must be a sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300s\", \"1.5h\", and \"2h45m\". Valid time units are \"ns\", \"us\" (or \"µs\"), \"ms\", \"s\", \"m\", \"h\". The value must be a positive duration greater than image_minimum_gc_age or \"0s\". The default value is \"0s\" if unspecified, which disables this field, meaning images won't be garbage collected based on being unused for too long."
        },
        "imageGcHighThresholdPercent": {
          "description": "Optional. Defines the percent of disk usage after which image garbage collection is always run. The percent is calculated as this field value out of 100. The value must be between 10 and 85, inclusive and greater than image_gc_low_threshold_percent. The default value is 85 if unspecified.",
          "type": "integer",
          "format": "int32"
        },
        "cpuCfsQuota": {
          "type": "boolean",
          "description": "Enable CPU CFS quota enforcement for containers that specify CPU limits. This option is enabled by default which makes kubelet use CFS quota (https://www.kernel.org/doc/Documentation/scheduler/sched-bwc.txt) to enforce container CPU limits. Otherwise, CPU limits will not be enforced at all. Disable this option to mitigate CPU throttling problems while still having your pods to be in Guaranteed QoS class by specifying the CPU limits. The default value is 'true' if unspecified."
        },
        "evictionSoft": {
          "description": "Optional. eviction_soft is a map of signal names to quantities that defines soft eviction thresholds. Each signal is compared to its corresponding threshold to determine if a pod eviction should occur.",
          "$ref": "EvictionSignals"
        },
        "singleProcessOomKill": {
          "description": "Optional. Defines whether to enable single process OOM killer. If true, will prevent the memory.oom.group flag from being set for container cgroups in cgroups v2. This causes processes in the container to be OOM killed individually instead of as a group.",
          "type": "boolean"
        },
        "imageMinimumGcAge": {
          "type": "string",
          "description": "Optional. Defines the minimum age for an unused image before it is garbage collected. The string must be a sequence of decimal numbers, each with optional fraction and a unit suffix, such as \"300s\", \"1.5h\", and \"2h45m\". Valid time units are \"ns\", \"us\" (or \"µs\"), \"ms\", \"s\", \"m\", \"h\". The value must be a positive duration less than or equal to 2 minutes. The default value is \"2m0s\" if unspecified."
        },
        "cpuManagerPolicy": {
          "description": "Control the CPU management policy on the node. See https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/ The following values are allowed. * \"none\": the default, which represents the existing scheduling behavior. * \"static\": allows pods with certain resource characteristics to be granted increased CPU affinity and exclusivity on the node. The default value is 'none' if unspecified.",
          "type": "string"
        },
        "memoryManager": {
          "description": "Optional. Controls NUMA-aware Memory Manager configuration on the node. For more information, see: https://kubernetes.io/docs/tasks/administer-cluster/memory-manager/",
          "$ref": "MemoryManager"
        }
      }
    },
    "PrivateClusterConfig": {
      "type": "object",
      "description": "Configuration options for private clusters.",
      "id": "PrivateClusterConfig",
      "properties": {
        "publicEndpoint": {
          "readOnly": true,
          "description": "Output only. The external IP address of this cluster's master endpoint. Deprecated:Use ControlPlaneEndpointsConfig.IPEndpointsConfig.public_endpoint instead.",
          "type": "string",
          "deprecated": true
        },
        "privateEndpointSubnetwork": {
          "deprecated": true,
          "type": "string",
          "description": "Subnet to provision the master's private endpoint during cluster creation. Specified in projects/*/regions/*/subnetworks/* format. Deprecated: Use ControlPlaneEndpointsConfig.IPEndpointsConfig.private_endpoint_subnetwork instead."
        },
        "peeringName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The peering name in the customer VPC used by this cluster."
        },
        "masterGlobalAccessConfig": {
          "$ref": "PrivateClusterMasterGlobalAccessConfig",
          "deprecated": true,
          "description": "Controls master global access settings. Deprecated: Use ControlPlaneEndpointsConfig.IPEndpointsConfig.enable_global_access instead."
        },
        "enablePrivateNodes": {
          "type": "boolean",
          "description": "Whether nodes have internal IP addresses only. If enabled, all nodes are given only RFC 1918 private addresses and communicate with the master via private networking. Deprecated: Use NetworkConfig.default_enable_private_nodes instead.",
          "deprecated": true
        },
        "privateEndpoint": {
          "type": "string",
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. The internal IP address of this cluster's master endpoint. Deprecated: Use ControlPlaneEndpointsConfig.IPEndpointsConfig.private_endpoint instead."
        },
        "enablePrivateEndpoint": {
          "deprecated": true,
          "type": "boolean",
          "description": "Whether the master's internal IP address is used as the cluster endpoint. Deprecated: Use ControlPlaneEndpointsConfig.IPEndpointsConfig.enable_public_endpoint instead. Note that the value of enable_public_endpoint is reversed: if enable_private_endpoint is false, then enable_public_endpoint will be true."
        },
        "masterIpv4CidrBlock": {
          "description": "The IP range in CIDR notation to use for the hosted master network. This range will be used for assigning internal IP addresses to the master or set of masters, as well as the ILB VIP. This range must not overlap with any other ranges in use within the cluster's network.",
          "type": "string"
        }
      }
    },
    "ParentProductConfig": {
      "id": "ParentProductConfig",
      "type": "object",
      "description": "ParentProductConfig is the configuration of the parent product of the cluster. This field is used by Google internal products that are built on top of a GKE cluster and take the ownership of the cluster.",
      "properties": {
        "productName": {
          "type": "string",
          "description": "Name of the parent product associated with the cluster."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Labels contain the configuration of the parent product."
        }
      }
    },
    "Metric": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Metric name, e.g., \"nodes total\", \"percent done\"."
        },
        "stringValue": {
          "description": "For metrics with custom values (ratios, visual progress, etc.).",
          "type": "string"
        },
        "intValue": {
          "description": "For metrics with integer value.",
          "type": "string",
          "format": "int64"
        },
        "doubleValue": {
          "type": "number",
          "format": "double",
          "description": "For metrics with floating point value."
        }
      },
      "type": "object",
      "id": "Metric",
      "description": "Progress metric is (string, int|float|string) pair."
    },
    "CreateNodePoolRequest": {
      "type": "object",
      "description": "CreateNodePoolRequest creates a node pool for a cluster.",
      "properties": {
        "parent": {
          "description": "The parent (project, location, cluster name) where the node pool will be created. Specified in the format `projects/*/locations/*/clusters/*`.",
          "type": "string"
        },
        "clusterId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The name of the cluster. This field has been deprecated and replaced by the parent field."
        },
        "nodePool": {
          "description": "Required. The node pool to create.",
          "$ref": "NodePool"
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the parent field.",
          "deprecated": true
        },
        "zone": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the parent field."
        }
      },
      "id": "CreateNodePoolRequest"
    },
    "HighScaleCheckpointingConfig": {
      "id": "HighScaleCheckpointingConfig",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the High Scale Checkpointing is enabled for this cluster.",
          "type": "boolean"
        }
      },
      "description": "Configuration for the High Scale Checkpointing."
    },
    "SecurityBulletinEvent": {
      "properties": {
        "mitigatedVersions": {
          "type": "array",
          "description": "The GKE versions where this vulnerability is mitigated.",
          "items": {
            "type": "string"
          }
        },
        "patchedVersions": {
          "items": {
            "type": "string"
          },
          "description": "The GKE versions where this vulnerability is patched.",
          "type": "array"
        },
        "bulletinUri": {
          "description": "The URI link to the bulletin on the website for more information.",
          "type": "string"
        },
        "manualStepsRequired": {
          "type": "boolean",
          "description": "If this field is specified, it means there are manual steps that the user must take to make their clusters safe."
        },
        "bulletinId": {
          "type": "string",
          "description": "The ID of the bulletin corresponding to the vulnerability."
        },
        "briefDescription": {
          "description": "A brief description of the bulletin. See the bulletin pointed to by the bulletin_uri field for an expanded description.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "description": "The severity of this bulletin as it relates to GKE."
        },
        "suggestedUpgradeTarget": {
          "description": "This represents a version selected from the patched_versions field that the cluster receiving this notification should most likely want to upgrade to based on its current version. Note that if this notification is being received by a given cluster, it means that this version is currently available as an upgrade target in that cluster's location.",
          "type": "string"
        },
        "resourceTypeAffected": {
          "type": "string",
          "description": "The resource type (node/control plane) that has the vulnerability. Multiple notifications (1 notification per resource type) will be sent for a vulnerability that affects > 1 resource type."
        },
        "cveIds": {
          "description": "The CVEs associated with this bulletin.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "affectedSupportedMinors": {
          "description": "The GKE minor versions affected by this vulnerability.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SecurityBulletinEvent",
      "type": "object",
      "description": "SecurityBulletinEvent is a notification sent to customers when a security bulletin has been posted that they are vulnerable to."
    },
    "HorizontalPodAutoscaling": {
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "Whether the Horizontal Pod Autoscaling feature is enabled in the cluster. When enabled, it ensures that metrics are collected into Stackdriver Monitoring."
        }
      },
      "type": "object",
      "id": "HorizontalPodAutoscaling",
      "description": "Configuration options for the horizontal pod autoscaling feature, which increases or decreases the number of replica pods a replication controller has based on the resource usage of the existing pods."
    },
    "SecurityPostureConfig": {
      "properties": {
        "vulnerabilityMode": {
          "type": "string",
          "enum": [
            "VULNERABILITY_MODE_UNSPECIFIED",
            "VULNERABILITY_DISABLED",
            "VULNERABILITY_BASIC",
            "VULNERABILITY_ENTERPRISE"
          ],
          "description": "Sets which mode to use for vulnerability scanning.",
          "enumDescriptions": [
            "Default value not specified.",
            "Disables vulnerability scanning on the cluster.",
            "Applies basic vulnerability scanning on the cluster.",
            "Applies the Security Posture's vulnerability on cluster Enterprise level features."
          ]
        },
        "mode": {
          "enum": [
            "MODE_UNSPECIFIED",
            "DISABLED",
            "BASIC",
            "ENTERPRISE"
          ],
          "description": "Sets which mode to use for Security Posture features.",
          "enumDescriptions": [
            "Default value not specified.",
            "Disables Security Posture features on the cluster.",
            "Applies Security Posture features on the cluster.",
            "Applies the Security Posture off cluster Enterprise level features."
          ],
          "type": "string"
        }
      },
      "id": "SecurityPostureConfig",
      "description": "SecurityPostureConfig defines the flags needed to enable/disable features for the Security Posture API.",
      "type": "object"
    },
    "DesiredAdditionalIPRangesConfig": {
      "description": "DesiredAdditionalIPRangesConfig is a wrapper used for cluster update operation and contains multiple AdditionalIPRangesConfigs.",
      "id": "DesiredAdditionalIPRangesConfig",
      "type": "object",
      "properties": {
        "additionalIpRangesConfigs": {
          "items": {
            "$ref": "AdditionalIPRangesConfig"
          },
          "type": "array",
          "description": "List of additional IP ranges configs where each AdditionalIPRangesConfig corresponds to one subnetwork's IP ranges"
        }
      }
    },
    "PrivateRegistryAccessConfig": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Private registry access is enabled."
        },
        "certificateAuthorityDomainConfig": {
          "description": "Private registry access configuration.",
          "items": {
            "$ref": "CertificateAuthorityDomainConfig"
          },
          "type": "array"
        }
      },
      "description": "PrivateRegistryAccessConfig contains access configuration for private container registries.",
      "id": "PrivateRegistryAccessConfig"
    },
    "SetNodePoolSizeRequest": {
      "id": "SetNodePoolSizeRequest",
      "type": "object",
      "description": "SetNodePoolSizeRequest sets the size of a node pool.",
      "properties": {
        "nodePoolId": {
          "type": "string",
          "deprecated": true,
          "description": "Deprecated. The name of the node pool to update. This field has been deprecated and replaced by the name field."
        },
        "projectId": {
          "type": "string",
          "description": "Deprecated. The Google Developers Console [project ID or project number](https://cloud.google.com/resource-manager/docs/creating-managing-projects). This field has been deprecated and replaced by the name field.",
          "deprecated": true
        },
        "nodeCount": {
          "description": "Required. The desired node count for the pool.",
          "format": "int32",
          "type": "integer"
        },
        "clusterId": {
          "deprecated": true,
          "type": "string",
          "description": "Deprecated. The name of the cluster to update. This field has been deprecated and replaced by the name field."
        },
        "name": {
          "description": "The name (project, location, cluster, node pool id) of the node pool to set size. Specified in the format `projects/*/locations/*/clusters/*/nodePools/*`.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "Deprecated. The name of the Google Compute Engine [zone](https://cloud.google.com/compute/docs/zones#available) in which the cluster resides. This field has been deprecated and replaced by the name field.",
          "deprecated": true
        }
      }
    },
    "ClientCertificateConfig": {
      "type": "object",
      "id": "ClientCertificateConfig",
      "properties": {
        "issueClientCertificate": {
          "description": "Issue a client certificate.",
          "type": "boolean"
        }
      },
[...]
